# Python
PYTHONUNBUFFERED=1

# Django
DJANGO_SECRET_KEY={{ RG_PORTAL_DJANGO_SECRET_KEY }}
DJANGO_ALLOWED_HOSTS={{ RG_PORTAL_DJANGO_ALLOWED_HOSTS | join(',') }}

# Elastic search
RICHIE_ES_HOST=elasticsearch

{% if not RG_PORTAL_USE_EXTERNAL_DB %}
# PostgreSQL db container configuration
POSTGRES_DB={{ RG_PORTAL_DB_NAME }}
POSTGRES_USER={{ RG_PORTAL_DB_USER }}
POSTGRES_PASSWORD={{ RG_PORTAL_DB_PASSWORD }}
{% endif %}

# App database configuration
DB_ENGINE={{ RG_PORTAL_DB_ENGINE }}
DB_HOST={{ RG_PORTAL_DB_HOST }}
DB_NAME={{ RG_PORTAL_DB_NAME }}
DB_USER={{ RG_PORTAL_DB_USER }}
DB_PASSWORD={{ RG_PORTAL_DB_PASSWORD }}
DB_PORT={{ RG_PORTAL_DB_PORT }}

# Connection with edx platform
AUTHENTICATION_BASE_URL={{ RG_PORTAL_AUTHENTICATION_BASE_URL }}
EDX_BASE_URL={{ RG_PORTAL_EDX_BASE_URL }}
EDX_BACKEND={{ RG_PORTAL_EDX_BACKEND }}
EDX_COURSE_REGEX={{ RG_PORTAL_EDX_COURSE_REGEX }}
EDX_JS_BACKEND={{ RG_PORTAL_EDX_JS_BACKEND }}
EDX_JS_COURSE_REGEX={{ RG_PORTAL_EDX_JS_COURSE_REGEX }}

DJANGO_RICHIE_COURSE_RUN_SYNC_SECRETS={{ RG_PORTAL_DJANGO_RICHIE_COURSE_RUN_SYNC_SECRETS }}

# Sentry
SENTRY_DSN={{ RG_PORTAL_SENTRY_DSN }}

# Web analytics
WEB_ANALYTICS_ID={{ RG_PORTAL_WEB_ANALYTICS_ID }}
WEB_ANALYTICS_LOCATION='{{ RG_PORTAL_WEB_ANALYTICS_LOCATION }}'
WEB_ANALYTICS_PROVIDER='{{ RG_PORTAL_WEB_ANALYTICS_PROVIDER }}'

# Minimum enrollment count value that would be shown on course detail page
RICHIE_MINIMUM_COURSE_RUNS_ENROLLMENT_COUNT={{ RG_PORTAL_RICHIE_MINIMUM_COURSE_RUNS_ENROLLMENT_COUNT }}
