#
# {{ ansible_managed }}
#

server {
  server_name {{ MFE_DEPLOY_COMMON_HOSTNAME }};
  listen {{ MFE_DEPLOY_NGINX_PORT }};
  {% if NGINX_ENABLE_IPV6 %}
  listen [::]:{{ MFE_DEPLOY_NGINX_PORT }};
  {% endif %}

  location '/.well-known/acme-challenge' {
    allow all;
    default_type "text/plain";
    root /var/www/letsencrypt;
  }

{% if nginx_ssl %}
  {% include "concerns/handle-ip-disclosure.j2" %}
  rewrite ^ https://$host$request_uri? permanent;
{% else %}
  {% if NGINX_REDIRECT_TO_HTTPS %}
    {% include "concerns/handle-tls-terminated-elsewhere-ip-disclosure.j2" %}
    {% include "concerns/handle-tls-terminated-elsewhere-redirect.j2" %}
  {% else %}
    {% include "concerns/mfe.j2" %}
  {% endif %}
{% endif %}

}

{% if nginx_ssl %}
server {
  server_name {{ MFE_DEPLOY_COMMON_HOSTNAME }};
  listen {{ MFE_DEPLOY_SSL_NGINX_PORT }} ssl;
  {% if NGINX_ENABLE_IPV6 %}
  listen [::]:{{ MFE_DEPLOY_SSL_NGINX_PORT }} ssl;
  {% endif %}
  {% if lms_ssl_certificate_path is defined and lms_ssl_certificate_path %}
  ssl_certificate {{ lms_ssl_certificate_path }};
  {% else %}
  {% if nginx_letsencrypt %}
  ssl_certificate {{ letsencrypt_ssl_certificate | lower }};
  {% endif %}
  {% endif %}
  {% if lms_ssl_certificate_key_path is defined and lms_ssl_certificate_key_path %}
  ssl_certificate_key {{ lms_ssl_certificate_key_path }};
  {% else %}
  {% if nginx_letsencrypt %}
  ssl_certificate_key {{ letsencrypt_ssl_certificate_key | lower }};
  {% endif %}
  {% endif %}
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";

  location '/.well-known/acme-challenge' {
    allow all;
    default_type "text/plain";
    root /var/www/letsencrypt;
  }

  {% include "concerns/mfe.j2" %}
}
{% endif %}
